In [1]:
import numpy as np
x = np.array([3,4,5])
y = np.array([2,8,7])
x.shape # shape is an attribute

(3,)

In [2]:
y.mean() # mean() is a function

5.666666666666667

In [3]:
# importing modules
import math
math.pi

3.141592653589793

In [4]:
math.sqrt(10)

3.1622776601683795

In [5]:
math.pi

3.141592653589793

In [6]:
math.sin(math.pi/2)

1.0

In [7]:
from math import pi # only import pi value

In [8]:
math.sqrt

In [9]:
np.sqrt

In [10]:
np.sqrt([2, 3, 6])

array([1.41421356, 1.73205081, 2.44948974])

In [11]:
name = 'any'
type(name)

str

In [12]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [14]:
help(name.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [15]:
name.upper()

'ANY'

In [16]:
133 ** 345 # pythn has unlimited number precision

5355698664034864776129896462122332731565011802327030406839700222032255239313396473355725609817862639827256121407129155240072116352713203054290273662909100626587648783653563218754724476228063931773363713280595890142319761819476073357938531069446347778218247659056166018687251307221870365714109732438991994139945090873351417637134713085464074067122831176810335445081474446206972999275227397895143743389689638036962573917090990933534351772735634328519676697774595868846863041668862753465131983505651502543442002365190927564839284479243315989228706769135804327680525002127325493808436097771303404311673684433630722167504602206354279735184355129919187038109432756873953531567482075824881424623164860490402967007451375289038502907244611493

In [17]:
123 / 11

11.181818181818182

In [18]:
123 // 11 # to get the closet integer number

11

In [19]:
_

11

In [20]:
_ ** 2

121

In [21]:
10 * 2

20

In [22]:
_ ** 3

8000

In [23]:
math.factorial(4)

24

In [24]:
import random

In [25]:
random.choice([2, 33, 44, 33, 77])

44

In [26]:
random.choice(['aa', 'bb','cc'])

'cc'

In [27]:
random.choice(['aa', 'bb','cc'])

'bb'

In [28]:
# boolean type
type(True)

bool

In [29]:
True and True

True

In [30]:
True and False

False

In [31]:
not True

False

In [32]:
not False

True

In [33]:
3 < 5

True

In [34]:
2 > 8

False

In [35]:
2 == 2

True

In [36]:
2 != 2

False

In [37]:
[2, 3] == [3, 3]

False

In [38]:
[2, 3] == [2, 3]

True

In [39]:
[2, 3] is [3, 3]

False

In [40]:
2.0 == 2

True

In [41]:
# Sequences
numbers = [3, 4, 9, 0]
numbers[0]

3

In [42]:
numbers[-1]

0

In [43]:
numbers.append(87)

In [44]:
numbers

[3, 4, 9, 0, 87]

In [45]:
x = [33, 55, 22]

In [46]:
numbers + x

[3, 4, 9, 0, 87, 33, 55, 22]

In [47]:
type(_)

list

In [48]:
numbers.reverse() # reversing

In [49]:
numbers

[87, 0, 9, 4, 3]

In [50]:
names = ['Zofia', 'Alex', 'Anthony']

In [51]:
names.sort()

In [52]:
names

['Alex', 'Anthony', 'Zofia']

In [53]:
names.reverse()

In [54]:
names

['Zofia', 'Anthony', 'Alex']

In [55]:
sorted_names = sorted(names)

In [56]:
names

['Zofia', 'Anthony', 'Alex']

In [57]:
sorted_names

['Alex', 'Anthony', 'Zofia']

In [58]:
len(names)

3

In [59]:
# Tuples
T =(2, 4, 5, 8)

In [60]:
len(T)

4

In [61]:
T + (1, 9)

(2, 4, 5, 8, 1, 9)

In [62]:
x = 23.33
y = 33.55

In [63]:
coordinate = (x, y)

In [64]:
type(coordinate)

tuple

In [65]:
coordinate

(23.33, 33.55)

In [66]:
(c1, c2) = coordinate

In [67]:
c1

23.33

In [68]:
cor = [(0, 0),
       (1, 1),
       (2, 4),
       (3, 9),
       (4, 16)]

In [69]:
for x, y in cor:
    print(x, y)

0 0
1 1
2 4
3 9
4 16

In [70]:
c = (2, 4)

In [71]:
type(c)

tuple

In [72]:
c =(3)

In [73]:
type(c)

int

In [74]:
c = (3,)

In [75]:
type(c)

tuple

In [76]:
b = (2, 4, 9)

In [77]:
sum(b)

15

In [78]:
range(5)

range(0, 5)

In [79]:
list(range(5))

[0, 1, 2, 3, 4]

In [80]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [81]:
list(range(1, 13, 2))

[1, 3, 5, 7, 9, 11]

In [82]:
# String
s = "Python"

In [83]:
len(s)

6

In [84]:
s[-2]

'o'

In [85]:
s[0:3]

'Pyt'

In [86]:
s[-3:]

'hon'

In [87]:
"y" in s

True

In [88]:
23 + 232

255

In [89]:
"hello" + "world"

'helloworld'

In [90]:
S = "Pyton"

In [91]:
3 * S

'PytonPytonPyton'

In [92]:
"eight" + str(4)

'eight4'

In [93]:
str.replace?

In [94]:
nam = "Tina Fey"
new_nam = nam.replace("T", "t")

In [95]:
lname = nam.split(" ")

In [96]:
type(lname)

list

In [97]:
lname[1]

'Fey'

In [98]:
lname[1].lower()

'fey'

In [99]:
nam

'Tina Fey'

In [100]:
2 * "2"

'22'

In [101]:
g = "222,789"

In [102]:
g.isdigit()

False

In [103]:
# set
ids = set()

In [104]:
ids = set([2,4,6,7,9])

In [105]:
len(ids)

5

In [106]:
ids.add(10)

In [107]:
ids

{2, 4, 6, 7, 9, 10}

In [108]:
ids.add(2)

In [109]:
ids

{2, 4, 6, 7, 9, 10}

In [110]:
ids.pop()

2

In [111]:
ids

{4, 6, 7, 9, 10}

In [112]:
id = set(range(10))

In [113]:
id

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [114]:
males = set([2, 4, 5, 7])

In [115]:
female = id - males

In [116]:
type(female)

set

In [117]:
female

{0, 1, 3, 6, 8, 9}

In [118]:
males

{2, 4, 5, 7}

In [119]:
# Union operation
everyone = males | female

In [120]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [121]:
everyone & set([3,4,5])

{3, 4, 5}

In [122]:
word = "antidisestablishmentarianism"

In [123]:
letters = set(word)

In [124]:
len(letters)

12

In [125]:
# Dictionary

In [126]:
age = {}

In [127]:
age = dict()

In [128]:
age = {"Tim": 90, "Jim": 21, "hanif": 40}

In [129]:
age["hanif"]

40

In [130]:
age["Tim"] = age["Tim"] + 1

In [131]:
age["Tim"] += 1

In [132]:
age["Tim"]

92

In [133]:
names = age.keys()

In [134]:
type(names)

dict_keys

In [135]:
age["Tim"] = 50

In [136]:
names

dict_keys(['Tim', 'Jim', 'hanif'])

In [137]:
age.values()

dict_values([50, 21, 40])

In [138]:
age["Nick"] = 32

In [139]:
names

dict_keys(['Tim', 'Jim', 'hanif', 'Nick'])

In [140]:
"Jim" in age

True

In [141]:
"Zofia" in age

False

In [142]:
# Dynamic typing
L = [1, 2, 3]
M = [1, 2, 3]

In [143]:
L == M # elementwise comparision

True

In [144]:
L is M

False

In [145]:
id(M)

TypeError: 'set' object is not callable

In [ ]:
id(L)

In [ ]:
p = [1, 2, 3]
# If we want to create an new list with same element
q = list(p)

In [ ]:
# anoter method
q = p[:]

In [ ]:
import copy
# copy object 1, Shallow copy and deep copy
x  = [1, [2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

In [ ]:
# Statement
if False:
    print("False")
elif True:
    print("Not True!")
else:
    print("Finally True")

In [ ]:
# loops:
for x in range(10):
    print(x)

In [ ]:
employee = {'Jim': 30, 'Hanif': 34, 'Kalal': 40, 'Tim': 50}
for name in employee.keys():
    print(name, employee[name])

In [ ]:
employee["Jim"]

In [ ]:
# another way to print
for name in employee:
    print(name, employee[name])

In [ ]:
for name in sorted(employee.keys()):
    print(name, employee[name])

In [ ]:
for name in sorted(employee.keys(), reverse = True):
    print(name, employee[name])

In [1]:
n = 100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

In [5]:
# List comprehension
numbers = range(10)
squares = []
for num in numbers:
    sq = num**2
    squares.append(sq)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
squares2 = [num**2 for num in numbers]

In [7]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
sum([i**2 for i in range(3)])

5

In [12]:
sum([i for i in range(10) if i%2 != 0])

25

In [7]:
filename = "my.txt"

In [8]:
for line in open(filename):
    print(line)

12 Twelve

13 Thirteen

24 Twenty Four

45 Fourty Five

In [9]:
for line in open(filename):
    line = line.rstrip()
    print(line)

12 Twelve
13 Thirteen
24 Twenty Four
45 Fourty Five

In [10]:
for line in open(filename):
    line = line.rstrip().split(" ")
    print(line)

['12', 'Twelve']
['13', 'Thirteen']
['24', 'Twenty', 'Four']
['45', 'Fourty', 'Five']

In [11]:
F = open("output.txt","w")

In [12]:
F.write("Python\n")

7

In [13]:
F.close()

In [14]:
def add(a,b):
    mysum = a + b
    return mysum

In [15]:
add(2, 4)

6

In [16]:
def add_and_sub(a,b):
    mysum = a + b
    mydiff = a - b
    return (mysum, mydiff)

In [18]:
add_and_sub(4,5)

(9, -1)

In [19]:
def modify(mylist):
    mylist[0] *= 10

In [20]:
L = [2,4,5,5]

In [21]:
modify(L)

In [22]:
L

[20, 4, 5, 5]

In [23]:
def intset(s1, s2):
    res = []
    for x in s1:
        if x in s2:
            res.append(x)
    return res

In [24]:
intset([1,2,4],[3,2,6,7])

[2]

In [26]:
import random

In [27]:
random.choice([3,4,2,5])

2

In [28]:
random.choice("afjlsajfslfj")

'f'

In [38]:
def password(lenght):
    pw = str()
    characters = "89790olgnhfls879tkl35gdfl"
    for i in range(lenght):
        pw = pw + random.choice(characters)
    return pw

In [39]:
password(4)

'f897'

In [40]:
password(8)

'h59oddg8'

In [41]:
"the answer is ", 10

('the answer is ', 10)